<body>
    <h1>School Admission portal</h1>
    <h1>Login Page</h1>
    <h3>WELCOME TO PORTAL...</h3>
    <form action="">
        <input type="text" id="userID" [(ngModel)]="userID" name="userID"  placeholder="USER-ID" ><br>
        <input type="password" id="passwd" [(ngModel)]="passwd" name="passwd" (ngModelChange)="passwd = $event" placeholder="Password"><br>
        <input type="submit" placeholder="LOGIN" (click)="router()">
    </form>
    <p>Create an account <a href="" routerLink="signup"> Sign up!</a></p>
</body>
